@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="~/Content/Home/css/bootstrap.min.css"/>

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="~/Content/Home/css/slick.css"/>
    <link type="text/css" rel="stylesheet" href="~/Content/Home/css/slick-theme.css"/>

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="~/Content/Home/css/nouislider.min.css"/>

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="~/Content/Home/css/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="~/Content/Home/css/style.css"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/dirPagination.js"></script>
    <script src="~/App/Home/app.js"></script>

</head>
<body>
<div ng-app="Home">
    <div ng-controller="HomeController" ng-init="GetAllCategory()">
        <nav id="navigation">
            <!-- container -->
            <div class="container">
                <!-- responsive-nav -->
                <div id="responsive-nav">
                    <!-- NAV -->
                    <ul class="main-nav nav navbar-nav">
                        <li class="active">
                            <a href="@Url.Action("Index", "Home")">Trang chủ</a>
                        </li>
                        <li ng-repeat="item in CategoryList">
                            <a href="/Home/ProductByCategory/{{item.MetaName}}" ng-click="GetMetaProduct(item.MetaName)">{{item.Name}}</a>
                        </li>
                    </ul>
                    <!-- /NAV -->
                </div>
                <!-- /responsive-nav -->
            </div>
            <!-- /container -->
        </nav>
    </div>

</div>
</body>
</html>