@{
    ViewBag.Title = "Admin";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/dirPagination.js"></script>
<script src="~/App/Admin/Category/app.js"></script>
<div ng-app="Category">
    @Html.Hidden("ID_")
    <div ng-controller="CategoryController" ng-init="GetAllCategory('')">
        <div class="row">
            <input class="col-md-4" id="txtSearch" placeholder="Nhập từ khóa cần tìm"/>
            <input type="submit" value="Tìm kiếm" class="btn btn-success col-md-1" ng-click="GetAllCategory(document.getElementById('txtSearch').value.toString())"/>
        </div>
        <br/>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
            Thêm danh mục
        </button>
        <table cellpadding="12" class="table-bordered table-hover table">
            <tr>
                <th>ID</th>
                <th>Tên danh mục</th>
                <th>Meta-name</th>
                <th>Tùy chọn</th>
            </tr>
            
            <tr dir-paginate="item in CategoryList|itemsPerPage:5">
                <td>{{item.ID}}</td>
                <td>{{item.Name}}</td>
                <td>{{item.MetaName}}</td>
                <td>
                    <input type="button" class="btn btn-warning" value="Update" ng-click="UpdateCategory(item)" data-toggle="modal" data-target="#exampleModalCenter"/>
                    <input type="button" class="btn btn-danger" value="Delete" ng-click="DeleteCategory(item)"/>
                </td>
            </tr>
        </table>
        <dir-pagination-controls
            max-size="5"
            direction-links="true"
            boundary-links="true"
            on-page-change="pageChanged(newPageNumber)">
        </dir-pagination-controls>
           


        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="txtTitile">Danh mục</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <label class="col-md-4 control-label">Tên danh mục:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="Nhập loại" ng-model="_Name"/>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-4 control-label">Meta-name:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="Meta-Name" ng-model="_MetaName"/>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="button" id="btnSave" class="btn btn-primary" value="Thêm" ng-click="InsertCategory()"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>